<div class= "post_wrapper">
  <div class="main_wrapper">
    <h1>Welcome</h1>

  <h1>HACKER NEWS </h1>
  <p> Hacker news. Hacker News</p>
  <%= link_to "SIGN IN WITH GITHUB", subscriber_omniauth_authorize_path(:github) %>
  <%= link_to('Logout', destroy_subscriber_session_path, :method => :delete) %>
  </div>
</div>
