<div class= "wrapper">
  <div class="main_wrapper">

  <h1>ScoutPost</h1>
  <p>It looks like you've found us...</p>
  <%= link_to image_tag("g.png", :width => 100, :id => 'oauth'), subscriber_omniauth_authorize_path(:github) %>
  </div>
</div>
