<% if subscriber_signed_in? %>

    <li><%= link_to('Edit Profile', edit_subscriber_registration_path) %></li>

<% else %>

    <li><%= link_to('Register', new_subscriber_registration_path)  %></li>

<% end %>
