<% if subscriber_signed_in? %>

    <li><%= link_to('Logout', destroy_subscriber_session_path, :method => :delete) %></li>

<% else %>

    <li><%= link_to('Login', new_subscriber_session_path)  %></li>

<% end %>

