<h3>Your Favorited Subjects</h3>

<% @favorites.each do |favorite| %>
  <%= "#{favorite.tag.name}: " %>
  <%= "score threshold of #{favorite.score_threshold}" %>
  <%= link_to("Click to change", "/favorites/#{favorite.id}/edit")%>
  <%= link_to("Click to remove", "/favorites/#{favorite.id}/destroy")%><br />
<% end %>