<div class= "post_wrapper">

  <!-- Begin Post -->
  <div class="post">
    <p id="title">TITLE</p>
    <div id="post_content"></div>
    <div id="post_data">
      <p id="data">Points |Comments |12:00pm  </p>
    </div>
  </div>
  <!-- End Post -->

  <!-- Begin Post -->
  <div class="post">
    <p id="title">TITLE</p>
    <div id="post_content"></div>
    <div id="post_data">
      <p id="data">Points |Comments |12:00pm  </p>
    </div>
  </div>
  <!-- End Post -->

  <!-- Begin Post -->
  <div class="post">
    <p id="title">TITLE</p>
    <div id="post_content"></div>
    <div id="post_data">
      <p id="data">Points |Comments |12:00pm  </p>
    </div>
  </div>
  <!-- End Post -->

  <!-- Begin Post -->
  <div class="post">
    <p id="title">TITLE</p>
    <div id="post_content"></div>
    <div id="post_data">
      <p id="data">Points |Comments |12:00pm  </p>
    </div>
  </div>
  <!-- End Post -->

  <!-- Begin Post -->
  <div class="post">
    <p id="title">TITLE</p>
    <div id="post_content"></div>
    <div id="post_data">
      <p id="data">Points |Comments |12:00pm  </p>
    </div>
  </div>
  <!-- End Post -->

  <!-- Begin Post -->
  <div class="post">
    <p id="title">TITLE</p>
    <div id="post_content"></div>
    <div id="post_data">
      <p id="data">Points |Comments |12:00pm  </p>
    </div>
  </div>
  <!-- End Post -->

  <!-- Begin Post -->
  <div class="post">
    <p id="title">TITLE</p>
    <div id="post_content"></div>
    <div id="post_data">
      <p id="data">Points |Comments |12:00pm  </p>
    </div>
  </div>
  <!-- End Post -->

  <!-- Begin Post -->
  <div class="post">
    <p id="title">TITLE</p>
    <div id="post_content"></div>
    <div id="post_data">
      <p id="data">Points |Comments |12:00pm  </p>
    </div>
  </div>
  <!-- End Post -->

  <!-- Begin Post -->
  <div class="post">
    <p id="title">TITLE</p>
    <div id="post_content"></div>
    <div id="post_data">
      <p id="data">Points |Comments |12:00pm  </p>
    </div>
  </div>
  <!-- End Post -->


<h1>HACKER NEWS </h1>
<p> Hacker news. Hacker News</p>
<a href="#">Link Link Link</a>

</div>
