@import url(http://fonts.googleapis.com/css?family=Armata|Monda);

html {
  height: 100%;
}

body {
  position: relative;
  margin-bottom: 20px;
  color: #60605E;
  font-family: "Monda", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
  background: url(concrete2.png);
  background-color: #E9E9E9;
}

div {
  display: block;
}

.container {
  color: inherit;
}

body > .wrapper {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  background: rgba(241, 241, 241, 1);
  text-align: center;
  width: 500px;
  border-radius: 4px;
  border: 1px solid rgb(180, 180, 180);
}

body > .favwrapper {
  padding-left: 100px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
 /*background: rgba(255, 255, 255, 0.31);*/
}
p.notice {
  color: #85C995;
  width: 420px;
  text-align: center;
  margin: 0;
}
p.alert {
  color: #e74c3c;
  width: 300px;
  text-align: center;
  margin: 0
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition: color 0.1s linear 0s;
  -moz-transition: color 0.1s linear 0s;
  -o-transition: color 0.1s linear 0s;
  transition: color 0.1s linear 0s;
}
a#title {
  color: rgb(168, 211, 211);
  top: 5px;
  z-index: 100;
}
a#title:hover {
  color: white;
}
/*Input & Form */
form {
  border-bottom: 1px solid rgb(187, 187, 187);
  padding-bottom: 3%;
  text-align: center;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 2px solid #bdc3c7;
  color: #4F7A78;
  font-family: 'Museo', sans-serif;
  font-size: 14px;
  padding: 8px 5px;
  margin: 15px 0;
  height: 21px;
  text-indent: 6px;
  -webkit-appearance: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear;
  -moz-transition: border .25s linear, color .25s linear;
  -o-transition: border .25s linear, color .25s linear;
  transition: border .25s linear, color .25s linear;
  -webkit-backface-visibility: hidden;
}
textarea:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="color"]:-moz-placeholder,
.uneditable-input:-moz-placeholder {
  color: #b2bcc5;
}

@media (max-width: 767px) {
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    height: 41px;
    margin: 9px 0;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  textarea textarea,
  input[type="text"] textarea,
  input[type="password"] textarea,
  input[type="datetime"] textarea,
  input[type="datetime-local"] textarea,
  input[type="date"] textarea,
  input[type="month"] textarea,
  input[type="time"] textarea,
  input[type="week"] textarea,
  input[type="number"] textarea,
  input[type="email"] textarea,
  input[type="url"] textarea,
  input[type="search"] textarea,
  input[type="tel"] textarea,
  input[type="color"] textarea,
  .uneditable-input textarea {
    height: 120px;
  }
}

.control-group.focus textarea,
.control-group.focus input[type="text"],
.control-group.focus input[type="password"],
.control-group.focus input[type="datetime"],
.control-group.focus input[type="datetime-local"],
.control-group.focus input[type="date"],
.control-group.focus input[type="month"],
.control-group.focus input[type="time"],
.control-group.focus input[type="week"],
.control-group.focus input[type="number"],
.control-group.focus input[type="email"],
.control-group.focus input[type="url"],
.control-group.focus input[type="search"],
.control-group.focus input[type="tel"],
.control-group.focus input[type="color"],
.control-group.focus .uneditable-input,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #4F7A78;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

li {
  line-height: 20px;
  list-style: none;
  display: inline-block;
}

li a {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 60px;
  display: block;
  text-transform: uppercase;
}

li:first-child {
  margin-left: 0;
}

/* NAVIGATION */
header {
  width: 100%;
  z-index: 99;
}

header .sticky-nav {
  position: relative;
  width: 100%;
  height: 60px;
  background: #EE7836;
  z-index: 50;

  -webkit-box-shadow: 0 1px 1px rgba(22, 21, 21, 0.25);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(31, 28, 28, 0.25);
}

header .sticky-nav.stuck {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

header #logo {
  color: #FFFFFF;
  float: left;
  font-family: "Armata", sans-serif;
  margin-left: 25px;
}

header #logo a {
  width: 120px;
  height: 30px;
  font-size: 20px;
  display: inline-block;
  opacity: 1;
  filter: alpha(opacity=100);

  -webkit-transition: opacity 0.25s ease-in-out 0s;
     -moz-transition: opacity 0.25s ease-in-out 0s;
     -o-transition: opacity 0.25s ease-in-out 0s;
        transition: opacity 0.25s ease-in-out 0s;
}

header #logo a:hover {
  opacity: 0.65;
  filter: alpha(opacity=65);
}

nav#menu {
  float: right;
  margin-right: 20px;
}

nav#menu #menu-nav {
  margin: 0;
  padding: 0;
}

nav#menu #menu-nav li {
  list-style: none;
  display: inline-block;
  margin-left: 50px;
}

nav#menu #menu-nav li:first-child {
  margin-left: 0;
}

nav#menu #menu-nav li a {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 60px;
  display: block;
  text-transform: uppercase;
}
.btn {
  margin-top: 15px;
}
nav#menu #menu-nav li.current a,
nav#menu #menu-nav li a:hover {
  color: #FACC7B;
}
/*
.navbar {
  height: 55px;
  color: #E37341;
  border-bottom: 1px solid rgb(34, 34, 34);
  -webkit-box-shadow: 0 1px 10px rgba(13, 187, 255, 0.8);
  -moz-box-shadow: 0 1px 10px rgba(13, 187, 255, 0.8);
  box-shadow: 0 1px 10px rgba(13, 187, 255, 0.4);
  z-index: 1001;
}*/

.navbar-fix {
  background: #E37341;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

ul#nav {
  position: absolute;
  margin-left: 400px;
}
li#navlink {
  position: relative;
  margin: 0 10px;
  font-size: 30px;
}

/*POSTS STYLING*/
.wrapper > .post {
  position: relative;
  /* float: left; */
  width: 50%;
  height: 90px;
  margin-left: 20%;
  margin-right: 2.25%;
  margin-bottom: 5%;
  padding: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* border: 1px solid rgba(160, 160, 160, 0.73); */
  background: #33373B;
  box-shadow: 0 5px 6px rgba(192, 192, 192, 0.9);
  text-align: center;
}

.post > #title {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-size: 18px;
}

/*.post > #post_content {
  background-color: #33373B;
  width: 97%;
  height: 5%;
  margin: 37px 0 0 5px;
  position: relative;
  z-index: 0;
  border-radius: 3px;
}*/

.post > #post_data {
  position: absolute;
  background: inherit;
  width: 100%;
  margin: 0;
  height: auto;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
}

p, label {
  font-size: 20px;
  color: #696867;
  font-family: 'Monda', sans-serif;
  margin-left: -1px;
}

#oauth img {
    opacity: 0;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}​
#oauth img.load {
  opacity: 1;
}

p#data {
  font-size: 25px;
  color: white;
  margin: 15px 0;
  bottom: 0;
}

a {
  color: #72C4C0;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

a:hover {
  color: #F7BE81;
  text-decoration: none;
}

input,
button,
select,
textarea {
  font-family: 'Armata', sans-serif;
  font-size: 14px;
  text-align: center;
}

input#subscriber {
  line-height: 1.3em;
}

.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 14.994px;
  /* 15px */

  font-weight: 500;
}

.btn {
  border: none;
  background: #838A8F;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
  background-color: #A4AEB4;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.btn:active,
.btn-group.open .btn.dropdown-toggle,
.btn.active {
  background-color: #a1a6a9;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn.disabled,
.btn[disabled] {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

h1,
.h1 {
  font-size: 100px;
  font-weight: bold;
  margin: 0;
  text-shadow: 1px -1px 2px #636363;
}
h2,
.h2 {
  font-size: 52px;
}
h3,
.h3 {
  font-size: 40px;
}
h4,
.h4 {
  font-size: 29px;
}
h5,
.h5 {
  font-size: 28px;
}
h6,
.h6 {
  font-size: 24px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.6em;
  color: #4B4B4B;
  font-family: "Armata", sans-serif;
}
