<div class="navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
      <a href="#" class="brand"></a>

      <div class="nav-collapse collapse" id="nav-collapse-01">
        <ul class="nav">
          <!-- Menu items go here -->
          <li>
            <ul>
              <!-- Sub Menu items go here -->
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>